<div class="table-responsive">
							<table id="userList" class="table table-bordered table-hover table-striped">
								<thead class="thead-light">
								<tr>
									<th scope="col">#</th>
									<th scope="col">First</th>
									<th scope="col">Last</th>
									<th scope="col">Username</th>
									<th scope="col">E-mail</th>
									<th></th>
								</tr>
								</thead>
								<tbody>
								<tr th:each="user : ${userList}" th:object=${user}>
									<th th:text="*{id}"></th>
									<td th:text="*{firstName}">Cristian</td>
									<td th:text="*{lastName}">Ruiz</td>
									<td th:text="*{username}">c.r.username</td>
									<td th:text="*{email}">c.r.username@blog.com</td>
									<td>
										<a href="#" t:href="@{'/editUser'+${user.id}}"><i class="fas fa-edit"></i></a> 
										| <a href="#" th:onclick="'javascript:confirmDelete(\''+ *{id} +'\');'"><i class="fas fa-user-times"></i></a>
									</td>
								</tr>
								</tbody>
							</table>
						</div>